.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fde68a;
    height: 40px;
    padding: 0 40px;
    animation: animateToolbar 0.5s ease forwards;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.errorWrapper {
    display: flex;
}

.error {
    color: red;
    font-size: 14px;
    line-height: 26px;
    animation: animateError 1s ease normal;
}

.errorBig {
    font-size: 20px;
    animation: animateBigError 25s ease infinite;
}

.errorBigContainer {
    animation: animateBigErrorContainer 1s ease normal;
}

@keyframes animateToolbar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateError {
    0% {
        opacity: 0;
        scale: 0;
        translate: 60px 40px;
        rotate: 30deg;
    }
    70% {
        opacity: 0.7;
        scale: 1.4;
        translate: 20px 10px;
        rotate: -15deg;
    }
    100% {
        opacity: 1;
        scale: 1;
        translate: 0 0;
        rotate: 0deg;
    }
}

@keyframes animateBigErrorContainer {
    0% {
        scale: 0.6;
        translate: -50px 0;
    }
    100% {
        scale: 1;
        translate: 0 0;
    }
}

@keyframes animateBigError {
    0%,
    50%,
    100% {
        rotate: 0deg;
        translate: 0 0;
    }
    60% {
        rotate: 30deg;
        translate: 0 0;
    }
    80% {
        rotate: -80deg;
        translate: -3px 0;
    }
}
