.editorWrapper {
  padding: 40px 0 70vh;
}

.codeBlock {
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  background: rgba(0, 20, 60, 0.03);
  padding: 5px 13px;
  animation: animate 4s ease forwards;
  overflow: hidden;
}

@keyframes animate {
  0% { 
    opacity: 0;
    max-height: 0;
  }
  40% { 
    opacity: 1;
    max-height: 800;
  }
  100% {
    opacity: 1;
    max-height: 2000px;
  }
}